@import "./base.css";
@import "./wrapper.css";
@import "./button.css";
@import "./header.css";
@import "./button-icon.css";
@import "./hero.css";
@import "./mention.css";
@import "./testimony.css";

body {
  background: var(--gradient-background);
  min-block-size: 100vh;
  color: var(--color-primary-purple);
}
